.badge {
    background-color: tomato;
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: white;
    font-weight: 600;
    font-size: 0.7rem;
}