.screen_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--horizontal-space);
    margin-bottom: 15px;
}

.screen-header__title {
    font-size: 28px;
    font-weight: 600;
}

.screen-header-icons span {
    margin-left: 32px;
}

@keyframes rotateCog {
    from {
        transform: none;
    }
     to  {
        transform: rotateZ(360deg);
     }
}

.screen-header-icons .fa-gear:hover {
    animation: rotateCog 1s linear infinite;
}